<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
        <meta name="viewport" content="width=device-width" />
        
       @* @Styles.Render("~/Content/css")*@
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <h1 class="site-title">@Html.ActionLink("Trollo", "Index", "Home")</h1>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Home", "Home")</li>
                            <li>@Html.ActionLink("Profile", "About", "Home")</li>
                             <li>@Html.ActionLink("Boards", "Boards", "Board")</li>
                            <li>@Html.ActionLink("Cards", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
         <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                 <div class="mainSection">
                @RenderBody()
                      </div>
                 <span id="profileImg">
                       <img src="~/Images/trolloPhotoProfile.png" />
                     </span>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Trabalho PI -Semestre Inverno 2012/2013</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
